.CryptoDetails-container-main {
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.CryptoDetails.category {
    text-decoration: underline;
    background-color: white;
}


.CryptoDetails-crypto-details-container {
    /* background-color: darkmagenta; */
    display: flex;
    width: 75%;
    height: auto;
    font-size: larger;

}

.CryptoDetails-left-container {
    width: 40%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CryptoDetails-logo {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: white;
}

.CryptoDetails-logo.img {
    margin: auto;
}

.CryptoDetails-symbol {
    background-color: white;
    text-align: center;
}

.CryptoDetails-priceCurrent {
    background-color: white;
    text-align: center;
}

.CryptoDetails-right-container {
    /* background-color: teal; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CryptoDetails-name {
    background-color: white;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    width: fit-content + 20px;
    /* height: fit-content; */
    padding: 3px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5%;
    border: 1px solid black;
}

.CryptoDetails-description {
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.CryptoDetails-container-favored {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    font-size: xx-large;
    border-radius: 25px;
}

.CryptoDetails-usersFavored {
    padding: inherit;
    border-radius: inherit;
    font-size: inherit;
    background-color: green;
    border: 10px ridge yellow;
    box-shadow: inset -5px -5px black;


}

.CryptoDetails-usersUnfavored {
    padding: inherit;
    font-size: inherit;
    border-radius: inherit;
    background-color: red;
    border: 10px ridge yellow;
    box-shadow: inset -3px -3px black;

}

.CryptoDetails-container-research-reachout {
    background-color: white;
    width: 60%
}

.CryptoDetails-container-research {
    /* background-color: maroon; */
    display: flex;
    justify-content: center;
    text-align: center;
}

.CryptoDetails-social {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

.CryptoDetails-website {
    /* background-color: indianred; */
}

.CryptoDetails-explorer {
    /* background-color: indigo; */
}

.CryptoDetails-source_code {
    /* background-color: lavender; */
}

.CryptoDetails-technical_doc {
    /* background-color: lawngreen; */
}

.CryptoDetails-facebook {
    /* background-color: lightgreen; */
}

.CryptoDetails-twitter_username {
    /* background-color: khaki; */
}

.CryptoDetails-reddit {
    /* background-color: lightcoral; */
}

.CryptoDetails-message_board {
    /* background-color: deepskyblue; */
}

.CryptoDetails-chat {
    /* background-color: firebrick; */
}