.Profile {
    background-color: red;
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto
}

.Profile-lower-half {
    display: flex;
    justify-content: space-evenly;

}